body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: #fd3a69;
    color: #fecd1a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* I set here a background color, a padding, border radius and color*/
.holder{
background-color: #c05555;
border-radius: 1px;
border-color: #ffc85c;
padding:5px;
b
}

/* I set here a text align, text transform. text under line, styel and color for it! */
.entry{
    background: rgba(59, 74, 107, .4);
    text-align: left;
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-color:#bedbbb;
    text-decoration-style: solid;
}

#entryHolder{

}
/* all these id I set thier font familty, font size, font style and font weight
I made sure that almost all the page the same font family so the user don't get confuisiong */
#date{
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;

}

#temp{
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
}

#content{
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
}

.headline {

}
/* I set for title the font size and font wighte */
.title{
font-size: 16px;
font-weight: bold;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}
